@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    background-color:hsl(0, 0%, 93%);
    height: 80vh;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

header {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-left: 5vh;
    margin-right: 5vh;
    line-height: 2vh;
}

h1, h5 {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

h2 {
    font-weight: 600;
    font-size: 30px;
    color: #454757;
}

h3 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

p {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}



header, section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.item {
    background-color: white;
}
.grid-container {
    width: 50vmin;
    height: 60vmin;
    display: grid;
    
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: repeat(2,50px);
    grid-template-rows: repeat(2,50px);
    gap: 15px;
}

#first-box {  /*supervisor*/
    width: 35vh;
    height: 25vh;
    padding: 4vh;
    display: inline-block;
    text-align: left;
    box-shadow: 0 0 10px 1px #747474;
    border-radius: 6px;
    border-top: 6px solid hsl(180, 62%, 55%);
    grid-column: 1 / span 3;
    grid-row: 3/ span 3;
}
#second-box { /*team build */
    width: 35vh;
    height: 25vh;
    padding: 4vh;
    display: inline-block;
    text-align: left;
    box-shadow: 0 0 10px 1px #747474;
    border-radius: 6px;
    border-top: 6px solid hsl(0, 78%, 62%) ;
    grid-column: 6 / span 7;
    grid-row: 1/ span 3;
}
#third-box {   /*karma*/
    width: 35vh;
    height: 25vh;
    display: inline-block;
    padding: 4vh;
    text-align: left;
    box-shadow: 0 0 10px 1px #747474;
    border-radius: 6px;
    border-top: 6px solid hsl(34, 97%, 64%);
    grid-column: 6 / span 7;
    grid-row: 4/ span 5;
}
#fourth-box { /*calculator*/
    width: 35vh;
    height: 25vh;
    padding: 4vh;
    display: inline-block;
    text-align: left;
    box-shadow: 0 0 10px 1px #747474;
    border-radius: 6px;
    border-top: 6px solid hsl(212, 86%, 64%);
    grid-column: 15/ span 11;
    grid-row: 3/ span 3;
}

